
body {
    font-family:arial,'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Section 1 - Header logo,links,hero text and image*/

.hero {
    background-color: #1F2937;
}

h1,h2,button {
    color: #F9FAF8;
}

/* Header logo */
h2 {
    font-size: 24px;
    margin: 15px 0;
}

/* Hero main text */
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

/* Header links and Hero secondary text */
.hero-p,a {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Removes dot from lists*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* header links */
.hero ul {
    display: flex;
    gap: 30px;
}

/* Removes underlines of links */
a {
    text-decoration: none;
}

/* Sec1-b - Signup and hero text and image */
.sec1-b {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
    gap: 30px;
}

.signup button {
    background-color: #3882F6;
    padding: 8px 25px;
    font-weight: 600; 
    font-size: 18px;
    border-radius: 10px;
    border: none;
    height: fit-content;
}

.sec1-b img {
    width: 600px;
    height: auto;
}


/* Section 2 - Random information*/

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px 0;
}

.images{
    display: flex;
    margin-bottom: 50px;
    gap: 60px;
}

.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: gray;
    width: min-content;
    text-align: center;
}

.images img {
    height: 200px;
    width: 200px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Section 3 -Quote */

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;
    justify-content: center;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-weight: 10;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.quote p {
    text-align:center;
    padding-right: 100px;
}


/* Section 4 - Call to action-signup */

.section4 {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    margin: 80px 550px;
    padding: 30px 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    min-width: fit-content;
}

.section4 p {
    margin: 0;
}

.section4 strong {
    font-size: 25px ;
    color: white;
}

.section4 button  {
    background-color: #3882F6;
    padding: 8px 25px;
    font-weight: 600; 
    font-size: 18px;
    border-radius: 10px;
    border: 2px white solid;
    height: fit-content;
}

/* Section - Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #E5E7EB;
    margin: 0;
    padding: 30px;
}